.monthPanel{width:479px; height:208px;position: absolute;background-color: #ffffff;}
.monthPicker_title{background: none repeat scroll 0 0 #ED5A48;color: #F28578; font-family: 'Arail',"Microsoft Yahei"; font-size: 12px; height: 39px; line-height: 39px; overflow: hidden;text-align: center;}
.monthPicker_title a{margin: 0 10px;cursor: pointer;}
.monthPicker_title em{margin: 0 8px;cursor: pointer;display: inline-block;font-size: 14px;font-weight: bold;color: #ffffff;float: left;}
.monthPicker_title em.cur{background: url("images/year-current-bg_06.jpg") no-repeat scroll 17px 34px transparent;font-size: 14px;}
.monthPicker_title em.leftb{border-left: solid 1px #E3E3E3;}
.monthPicker_title a.pre{background: url("images/calendar-prev-btn.png") repeat scroll 0 0 transparent;display: block; float: left; height: 19px;margin-left: 96px;margin-right: 15px; margin-top: 10px; width: 19px;}
.monthPicker_title a.next{background: url("images/calendar-next-bt.png") repeat scroll 0 0 transparent;display: block; float: left; height: 19px;margin-left: 96px;margin-right: 15px; margin-top: 10px; width: 19px;}
.monthPicker_box{width:178px;height:125px;float: left;margin-top: 10px;color: #B7B7B7 ;}
.monthPanel .mleft10{margin-left: 10px;}
.boxPanel{clear: both;height: 148px; border-color: #ffffff;display: inline-block;}
.monthPicker_box em{height:35px;width:35px;line-height: 35px;display: inline-table;text-align: center;line-height: 35px;border: solid 1px #E3E3E3;cursor: pointer;color: #B7B7B7 ;}
.monthPicker_box em.clicked{color: #ED5A48;}
.monthPicker_box em.mr3{margin-right: 6px;}
.monthPicker_box em.mb3{margin-bottom: 6px;}
.monthPicker_line{width: 1px;height:120px;border-left: solid 1px #E3E3E3;float: left;margin:10px 10px 10px 0px;}
.monthPicker_buttons{width:60px;float:left;height:125px;display:inline-block;color: #B7B7B7 ;padding-top: 5px;}
.monthPicker_buttons a{line-height: 20px;text-align: center;padding: 0px 10px;cursor: pointer;display: inline-block;margin: 5px 0px;border: solid 1px #E3E3E3;}
.monthPicker_buttons a:hover{color: #ffffff; background-color: #ED5A48;border: solid 1px #ED5A48;}
.month-bd { float: left;width: 463px; border-color: #ffffff;display: inline-block;}
.month-bd .top-bg { background: url("images/calendar-shadow_04.png") repeat scroll 0 0 transparent;height: 7px;}
.monthPanel .left-bg { background: url("images/calendar-shadow_03.png") repeat scroll 0 0 transparent;float: left;height: 208px; overflow: hidden; width: 7px;}
.monthPanel .right-bg { background: url("images/calendar-shadow_05.jpg") repeat scroll 0 0 transparent;float: left;height: 208px;overflow: hidden;width: 9px;}
.month-bd .bottom-bg { background: url("images/calendar-shadow_08.jpg") repeat scroll 0 0 transparent; height: 10px;}